<!--The content below is only a placeholder and can be replaced.-->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
               <app-accordion></app-accordion>
            </div>
            <div class="col-sm-3">
                 <app-selected-protocols></app-selected-protocols> 
            </div>
            <div class="col-sm-3">
                <app-selected-time></app-selected-time> 
            </div>
            <div class="col-sm-3">
                 <app-summery></app-summery> 
            </div>
        </div>
        </div>