<h4>Select Blackbox</h4>
<div class="panel-group" id="accordion">

  <div class="panel panel-default" *ngFor="let content of data">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#group{{content.id}}">
          <span class="glyphicon glyphicon-folder-close">
          </span>{{content.name}}
           <input type="checkbox" class="checkList" name="checkbox" id="item_{{content.id}}" />

        </a>
      </h4>
    </div>
    <div id="group{{content.id}}" class="panel-collapse collapse">
      <div class="list-group">

        <div *ngFor="let group of content.devices">

          <a href="#" class="list-group-item">
               {{group.name}}
               <input type="checkbox" class="checkList" name="checkbox" id="item_{{group.id}}" />
              </a>

        </div>

      </div>
    </div>
  </div>
</div>



<!-- class="panel-collapse collapse in">
            <ul class="list-group">
              <li class="list-group-item"  *ngFor="let group of content.devices">
                <span class="glyphicon glyphicon-pencil text-primary"></span>
                <a href="http://fb.com/moinakbarali">{{group.name}}</a>
              </li>
            </ul> -->