<h4>Select Blackbox</h4>
<div class="panel-group" id="accordion">
  <div class="panel panel-default mainPanel" *ngFor="let content of data">
    <div class="panel-heading">
      <h4 class="panel-title">
              <input type="checkbox" class="groupItem checkList" name="checkbox"  id="groupItem_{{content.id}}" />
        <a data-toggle="collapse" data-parent="#accordion" href="#group{{content.id}}">
          <span class="glyphicon glyphicon-folder-close"></span>{{content.name}}
        </a>
      </h4>
    </div>
    <div id="group{{content.id}}" class="panel-collapse collapse">
      <div class="list-group">
        <div *ngFor="let group of content.devices">
          <a href="#" class="list-group-item">{{group.name}}
            <input type="checkbox" onclick="" class="innerItems checkList" name="checkbox" id="item_{{group.id}}" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
