<h4>Summery</h4>


<div class="panel-group" >

  <div class="panel panel-default" *ngFor="let content of data">
    <div class="panel-heading" style="opacity: 0;">
      <h4 class="panel-title">
          {{content.name}}
      </h4>
    </div>
    <div id="group{{content.id}}" class="panel-collapse ">
      <div class="list-group">

        <div *ngFor="let group of content.devices">

          <a href="#" class="list-group-item">
               {{group.name}}
              </a>

        </div>

      </div>
    </div>
  </div>
</div>
