<h4>Summery</h4>

<div class="panel-group" >

  <div class="panel panel-default" *ngFor="let content of data">
    <div class="panel-heading" style="opacity: 0;">
      <h4 class="panel-title">
          {{content.name}}
      </h4>
    </div>
    <div id="group{{content.id}}" class="panel-collapse ">
      <div class="list-group">
        <div *ngFor="let item of content.devices">
          <a href="#"  value="{item.id}}" name="{{item.id}}" id="summery_item_{{item.id}}" style="display:none;" class="list-group-item devicesIds">{{item.name}}</a>
        </div>
      </div>
    </div>
  </div>
<h4>Selected Protocols:</h4>
  <div class="panel panel-default" >
      <ul class="summery_protocol">
      </ul>
  </div>
<h4>Time Periods:</h4>
  <div class="panel panel-default" >
      <ul class="summery_time">
      </ul>
  </div>


</div>
<span><a id="clearData" href="#">Clear</a></span>
<input type="text" id="allData">
<button id="startLearning" type="button" class="btn btn-primary">Strat Learning</button>
